/* style31.css */

/* Define uma fonte geral e um fundo leve */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: 016B61;
    margin: 0;
    padding: 0;
    color: 70B2B2;
}

/* Cabeçalho */
header {
    background-color: 9ECFD4;
    color:016B61;
    text-align: center;
    padding: 30px 20px;
}

/* Título principal */
header h2 {
    color: 70B2B2; /* Cor dourada */
    font-weight: bold; /* Negrito */
    font-size: 2.2em;
}

/* Subtítulo */
header p {
    font-size: 1.1em;
    color: 9ECFD4
}

/* Conteúdo principal */
main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

/* Seções */
.conteudo h2 {
    color: #9fa1dd; /* Azul */
    font-weight: bold;
    border-bottom: 2px solid E5E9C5;
    padding-bottom: 5px;
    margin-top: 30px;
}

.conteudo p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Imagens */
.conteudo img {
    display: block;
    max-width: 100%;
    margin: 15px auto;
    border-radius: 8px;
}

/* Botão */
button {
    background-color: 016B61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: 9ECFD4;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: 70B2B2;
    color: #ccc;
    padding: 15px 0;
    margin-top: 40px;
}
